@charset "UTF-8";
/*Paleta de colores utilizada*/
/*Tamaños de fuentes*/
/*Iconos*/
/*Resoluciones de pantallas*/
/*Margins y Paddings*/
/*Fonts*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: #f7e3e5;
  font-weight: bolder;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}

body {
  background-color: #dbdddf;
  font-size: 23px;
}

h2 {
  color: #dbcdc9;
  font-size: 30px;
  margin: 10px 15px;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 10px;
  font-weight: bolder;
  background-color: #836860;
  font-size: 20px;
}

p {
  font-size: 20px;
  margin-left: 10px;
  margin: 1px 10px;
}

h4 {
  font-size: 15;
}

footer {
  max-width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a29fa8;
  font-family: "Quicksand", sans-serif;
}

.icono {
  width: 60px;
  padding: 10px;
}

header {
  margin-bottom: 200px;
}

.img-logo {
  height: 160px;
}

.navbar {
  opacity: 0.9;
}

.nav-link-active {
  color: #3d2c2e;
  text-decoration: none;
  font-weight: bold;
}

.index-body {
  background: url(../img/index-background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  background-color: #f5edf0;
}

.btn-enc {
  background-color: #a8959e;
  color: #f5ecec;
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
}
.btn-enc:hover {
  background-color: #726269;
  transform: scale(1.1) !important;
}

.d-block {
  height: 600px;
}

.contenedorPadre {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(136, 111, 104, 0.9);
  color: #e7dce0;
  margin-bottom: 10px;
}
.contenedor .first {
  margin-top: 400px;
}

.contenedor h2 {
  font-family: "Bebas Neue", cursive;
}

.contenedor-reverso {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 237, 240, 0.9);
  color: #6d5a5c;
  margin-bottom: 10px;
  border-top: solid #dbcdc9 1px;
}

.contenedor-reverso h2 {
  font-family: "Bebas Neue", cursive;
}

.contenedor-reverso img {
  width: 400px;
}

.contenedor-reverso h2 {
  color: #3d2c2e;
  font-family: "Bebas Neue", cursive;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.galeria-img {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.accordion {
  margin-bottom: 10px;
}

.accordion-item, .accordion-button {
  background-color: #eedfe5;
}

.encuesta .enc-content .enc-header .enc-title {
  font-weight: normal;
  font-family: "Monoton";
  color: #886f68;
  padding: 14px 0px;
  text-align: center;
}

.encuesta .enc-content {
  background-color: rgba(245, 237, 240, 0.9);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  border-radius: 3px;
  color: #3d2c2e;
  font-weight: bolder;
}

.encuesta .enc-content .enc-label {
  display: block;
  font-size: 15px;
  font-family: Roboto;
  position: relative;
}

.encuesta .enc-content .enc-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  padding: 12px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 2px;
  font-size: 15px;
  color: #3d2c2e;
  font-family: Roboto;
}

.btns-form {
  text-align: center;
  margin-top: 20px;
}

.encuesta .enc-content .btn-enc {
  display: inline-block;
  margin: 5px 10px;
  width: 50%;
  font-family: Roboto;
  outline: none;
  background-color: #3d2c2e;
  font-size: 15px;
  border: none;
  color: #a8959e;
  padding: 15px 0px;
  align-items: center;
}
.encuesta .enc-content .btn-enc:hover {
  background-color: #57494b;
  color: #beb5b9;
}

input[type=radio] {
  appearance: none;
}

input[type=radio]:checked + label {
  color: #a8959e;
  text-decoration: underline;
}

@media (min-width: 215px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contenedor-reverso {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .galeria-img {
    display: grid;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    grid-template-columns: repeat(2, 2fr);
  }
  body {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .cont-img {
    max-width: 300px;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
  }
  .galeria-img {
    height: 350px;
    width: 350px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (min-width: 992px) {
  .galeria-img {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (min-width: 1200px) {
  .galeria-img {
    height: 550px;
    width: 550px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    grid-template-columns: repeat(2, 2fr);
  }
}
.form-background {
  background: url(../img/form-background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.form .form-content .form-header .form-title {
  font-weight: normal;
  font-family: "Monoton";
  color: #ffffff;
  padding: 14px 0px;
  text-align: center;
}

.form .form-content {
  background-color: rgba(66, 76, 85, 0.9);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 200px;
  padding-bottom: 30px;
  border-radius: 3px;
  color: #d1ccdc;
  font-weight: bolder;
}

.form .form-content .form-label {
  display: block;
  font-size: 15px;
  font-family: Roboto;
  position: relative;
}

.form .form-content .form-input, .form-textarea {
  background-color: rgba(245, 237, 240, 0.5);
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 7px solid #d1ccdc;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 2px;
  font-size: 15px;
  color: #f5edf0;
  font-family: Roboto;
}

.form .form-content .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.form .form-content .btn-form {
  width: 100%;
  font-family: Roboto;
  outline: none;
  background-color: #d1ccdc;
  font-size: 15px;
  border: none;
  color: #424c55;
  padding: 15px 0px;
}
.form .form-content .btn-form:hover {
  background-color: #aaa4b8;
  color: #303a42;
}

.banner {
  margin-bottom: 20px;
}

.oferta-text {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-bottom: 10px;
  background-color: #a29fa8;
  border-radius: 20px;
}

.padrecards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 20px;
}
.card:hover {
  transform: scale(1.1) !important;
}

.card-text {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.button-card {
  color: #886f68;
  background-color: #dbcdc9;
  border-radius: 10px;
  padding: 5px;
  margin-left: 60px;
}

.button-ofert {
  position: absolute;
  background-color: #a29fa8;
  font-size: 18px;
  top: 15px;
  right: 0px;
  font-family: "Monoton";
  font-weight: bolder;
}

.card-img-top {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
  height: 300px;
}

@media (min-width: 215px) {
  .padrecards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .padrecards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .padrecards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=styles.css.map */
