.form-background{
    background: url(../img/form-background.jpg);
    -webkit-background-size: cover ;
    background-size: cover;
    background-attachment: fixed;
}

.form .form-content .form-header .form-title{
    font-weight: normal;
    font-family: $fuente-form;
    color: #ffffff;
    padding: 14px 0px;
    text-align: center;
}

.form .form-content{
    background-color: rgba(66, 76, 85, .9);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: $margin-XG;
    padding-bottom: 30px;
    border-radius: 3px;
    color: #d1ccdc;
    font-weight: bolder;
}

.form .form-content .form-label{
    display: block;
    font-size: 16px;
    font-family: $fuente-form-content;
    position: relative;
}

.form .form-content .form-input, .form-textarea{
    background-color:rgba(245, 237, 240, .5);
    border: none;
    outline: none;
    width: 100%;
    border-bottom:7px solid #d1ccdc;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 2px;
    font-size: 15px;
    color: $color-beige;
    font-family: $fuente-form-content;
}

.form .form-content .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.form .form-content .btn-form{
    width: 100%;
    font-family: $fuente-form-content;
    outline: none;
    background-color: #d1ccdc;
    font-size: 16px;
    border: none;
    color: #424c55;
    padding: 15px 0px;

    &:hover{
        background-color: #aaa4b8;
        color: #303a42;
    }
}