.index-body{
    background: url(../img/index-background.jpg);
    -webkit-background-size: cover ;
    background-size: cover;
    background-attachment: fixed;
}

.container-fluid{
    background-color:$color-beige
}


.btn-enc{
    background-color: #a8959e ;
    color: #f5ecec;
    padding: 5px;
    border-radius: 3px;
    margin: 2px;

    &:hover{
        background-color: #726269 ;
        transform: scale(1.1) !important;
    }
}

.d-block{
    height: 600px;
}

.contenedorPadre{
    margin-top: $margin-grande;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contenedor{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(136, 111, 104, .9);
color: #e7dce0;
margin-bottom: 10px;

.first{
    margin-top: 400px;
}
}

.contenedor h2{
    font-family: $fuente-oferta;
}

.contenedor-reverso{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 237, 240, .9);
    color:#6d5a5c;
    margin-bottom: 10px;
    border-top: solid #dbcdc9 1px;
}

.contenedor-reverso h2{
    font-family: $fuente-oferta;
}

.contenedor-reverso img{
width: 400px;
}
.contenedor-reverso h2{
    color: $color-marron-oscuro;
    font-family: $fuente-oferta;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.galeria-img{
    height: 500px; 
    width: 500px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}



.accordion{
    margin-bottom: 10px;
}

.accordion-item, .accordion-button{
    background-color: #eedfe5;
}

.encuesta .enc-content .enc-header .enc-title{
    font-weight: normal;
    font-family: $fuente-form;
    color: $color-marron-claro;
    padding:14px 0px;
    text-align: center;
}

.encuesta .enc-content{
    background-color: rgba(245, 237, 240, .9);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: $margin-chico;
    margin-bottom: $margin-chico;
    padding-bottom: 30px;
    border-radius: 3px;
    color: $color-marron-oscuro;
    font-weight: bolder;
}

.encuesta .enc-content .enc-label{
    display: block;
    font-size: $fuente-chica;
    font-family: $fuente-form-content;
    position: relative;
}

.encuesta .enc-content .enc-input{
    border: none;
    outline: none;
    width: 100%;
    font-size: $fuente-chica;
    padding: 12px;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 2px;
    font-size: $fuente-chica;
    color: $color-marron-oscuro;
    font-family: $fuente-form-content;
}

.btns-form{
    text-align: center;
    margin-top: 20px;
}

.encuesta .enc-content .btn-enc{
    display: inline-block;
    margin:5px 10px;
    width: 50%;
    font-family: $fuente-form-content;
    outline: none;
    background-color: $color-marron-oscuro;
    font-size: $fuente-chica;
    border: none;
    color: #a8959e;
    padding: 15px 0px;
    align-items: center;

    &:hover{
        background-color: #57494b;
        color:#beb5b9 ;
    }
}

input[type="radio"]{
    appearance: none;
}

input[type="radio"]:checked + label{
    color: #a8959e;
    text-decoration: underline;
}

@media (min-width: $celular){
    .contenedor{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contenedor-reverso{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .galeria-img{
        display: grid;
        height: 250px; 
        width: 250px;
        margin: 0 auto;
        display: block;
        object-fit: cover;
        grid-template-columns: repeat(2, 2fr);
    }

    body{
        font-size: 15px;
    }
  
}



@media (min-width: $tablet){
    .cont-img{
        max-width: 300px;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
    }

    .galeria-img{
        height: 350px; 
        width: 350px;
        margin: 0 auto;
        display: block;
        object-fit: cover;
        grid-template-columns: repeat(2, 2fr);
    }

}

@media (min-width: $desktop){
    .galeria-img{
        height: 500px; 
        width: 500px;
        margin: 0 auto;
        display: block;
        object-fit: cover;
        grid-template-columns: repeat(2, 2fr);
    }
}


@media (min-width: $desktopXG){
    .galeria-img{
        height: 550px; 
        width: 550px;
        margin: 0 auto;
        display: block;
        object-fit: cover;
        grid-template-columns: repeat(2, 2fr);
    }
}