/*Paleta de colores utilizada*/
$color-marron-oscuro: #3d2c2e;
$color-marron-claro: #886f68;
$color-beige: #f5edf0;
$color-gris: #424c55;
$color-lila: #d1ccdc;

/*Tamaños de fuentes*/
$fuente-chica: 15px;
$fuente-media: 20px;
$fuente-granded: 30px;

/*Iconos*/
$icono-chico: 50px;
$icono-grande: 70px;

/*Resoluciones de pantallas*/

$celular: 215px;
$tablet: 768px;
$desktop: 992px;
$desktopXG: 1200px;

/*Margins y Paddings*/

$margin-chico: 10px;
$margin-medio: 20px;
$margin-grande: 50px;
$margin-XG: 200px;

/*Fonts*/

$fuente-oferta: 'Bebas Neue', cursive;
$fuente-form: 'Monoton';
$fuente-form-content: Roboto;
$fuente-footer: 'Quicksand', sans-serif;